.row{
	display: flex; 
   }
   
 /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
	.row.content {height: 100%}
	
	/* Set gray background color and 100% height */
	.sidenav {
		background-color: #3fbac4;
		padding: 0;
	}
	
	/* On small screens, set height to 'auto' for sidenav and grid */
	@media screen and (max-width: 767px) {
	  .sidenav {
		height: auto;
		padding: 15px;
		position : relative;
	  }

	  .row.content {height: auto;} 
	}

	.titre-gauche{
		/*border:2px solid black;*/
		text-align: center;
		background-color: black;
		color: #3fbac4;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.photo{
	 padding-left: 20%;
	}


	   .titre-content{
		/*border:2px solid black;*/
		text-align: left;
		border-bottom: 5px solid #3fbac4;
		
	}

		 .date-content{
		/*border:2px solid black;*/
		text-align: center;
	}

		 .text-content{
		/*border:2px solid black;*/
		text-align: center;
	}

	
	img {
		border-radius:100px;
		width:150px;
		height:150px;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	.underline {
		text-decoration: underline;
		color: black;
		text-decoration-color: #3fbac4;
	}

	.col-sm-9 {
		height: auto;
	}

	.titre-content i{
		color: #3fbac4;
	}

	.date-content i{
		color: #3fbac4;
	}

	.gauche-img i {
		text-align: center;
		width:20%;
		margin: 20px;
		font-size: 23px;
	}

	.loisir {
		position: absolute;
		bottom: 0;
		width: 100%;
	}

