.row{
	display: flex; 
   }
   
 /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
	.row.content {height: 100%;
	}
	
	/* Set gray background color and 100% height */
	.sidenav {
		background-color: #3fbac4;
		padding: 0;
	}
	
	/* On small screens, set height to 'auto' for sidenav and grid */
	@media screen and (max-width: 767px) {
	  .sidenav {
		height: auto;
		padding: 15px;
		position : relative;
	  }

	  .row.content {height: auto;} 
	}

	.col-sm-9 {
		height: auto;
	}

	.photo{
		padding-left: 20%;
	   }

	img {
		border-radius:100px;
		width:200px;
		height:200px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-top: 50px;
	}

	.titre-gauche{
		/*border:2px solid black;*/
		text-align: center;
		background-color: black;
		color: #3fbac4;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 20px;
		font-size: 30px;
		font-weight: bold;
	}

	.gauche-img i {
		text-align: center;
		width:20%;
		margin: 20px;
		font-size: 50px;
	}

	.gauche-text{
		margin-top: 20px;
		margin-left: 30px;
		margin-right: 30px;
		font-size: 18px;
	}

	.loisir {
		position: absolute;
		bottom: 0;
		width: 100%;
	}

	.nom {
		margin-top: 80px;
		margin-left: 50px;
		font-size: 30px;
	}

	
	.underline {
		text-decoration: underline;
		color: black;
		text-decoration-color: #3fbac4;
	}

	.titre-content{
		/*border:2px solid black;*/
		text-align: left;
		border-bottom: 5px solid #3fbac4;
		margin-top: 80px;
		
	}

	.titre-content i{
		color: #3fbac4;
		margin-left: 20px;
	}

	.date-content{
		/*border:2px solid black;*/
		text-align: center;
		font-weight: bold;
		font-size: 18px;
	}

	.date-content i{
		color: #3fbac4;
		font-size: 15px;
	}

	.text-content{
		font-size: 18px;
	}





